@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    
    --textColor: #2B2024;
    --bgLink: #673D3F;
    --bgLinkHover: #B05459;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: var(--lightColor);
    color: var(--textColor);
    font-size: 22px;
    margin: 0; /* Убираем отступы по умолчанию */
    display: flex; /* Flexbox для центрирования */
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center; /* Вертикальное центрирование (если нужно) */
    min-height: 100vh; /* Занимаем всю высоту вьюпорта */
}

.main {
    display: flex;
    flex-direction: column; /* Вертикальное выравнивание */
    align-items: center; /* Центрирование содержимого по горизонтали */
    gap: 20px; /* Пробел между элементами */
    padding: 60px 20px;
    background-color: var(--lightColor);
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ширина 100% от родительского элемента */
    margin: 0 auto; /* Центрирование блока */
}

.main__item {
    text-align: center; /* Выравнивание текста по центру */
    width: 100%; /* Занять всю ширину родителя */
}

.main__title {
    font-size: 3.5rem;
    color: var(--textColor);
    margin: 20px 0;
}

.main__text {
    font-size: 1.2rem;
    color: var(--textColor);
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: bold; /* Жирный текст */
}

.link {
    display: inline-block;
    padding: 12px 24px;
    background-color: var(--bgLink);
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.link:hover {
    background-color: var(--bgLinkHover);
    transform: scale(1.05);
}
