.header {
    position: relative;
    top: 0;
    z-index: 1000; /* Обеспечим, что Header будет выше другого контента */
    background-color: #333;
    padding: 10px 20px;
    color: white;
    width: 100%;
}


.site-title {
    font-size: 24px; /* Размер шрифта для названия сайта */
}

.navigation {
    display: flex; /* Используем flexbox для навигации */
}

.navigation a {
    color: white; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
    margin-left: 20px; /* Отступ между ссылками */
    font-size: 18px; /* Размер шрифта для ссылок */
}

.navigation a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}
